## Exploration dataset analysis
Create dataframe, for only the primary cohort dataset

In [ ]:
import pandas as pd
import os
os.getcwd()

os.chdir(r"c:\dev\Hospital_ml\Predictive analysis of critical incidents in a hospital")

primary = pd.read_csv("data/primary_cohort.csv")

primary.head()

   age_years  sex_0male_1female  episode_number  hospital_outcome_1alive_0dead
0         21                  1               1                              1
1         20                  1               1                              1
2         21                  1               1                              1
3         77                  0               1                              1
4         72                  0               1                              1

### Data lenght

In [ ]:
print(len(primary))
print(primary.shape)

110204

### Data types

In [ ]:
#same for all the other dataset
print(primary.dtypes)

age_years                        int64
sex_0male_1female                int64
episode_number                   int64
hospital_outcome_1alive_0dead    int64
dtype: object
(110204, 4)

## Detect and Count Missing Values

In [66]:

total_missing = primary.isnull().sum().sum()
print(f"Total missing values in the dataset: {total_missing}")

Total missing values in the dataset: 0

## Detect duplicate

In [9]:
# Stricts duplicates
#nb_ds = primary.duplicated()
print("Strict duplicates : ")
len(primary[primary.duplicated()])

Strict duplicates :

108693

## Simple statistics

In [ ]:
primary.describe()
primary['sex_0male_1female'].value_counts()
primary['hospital_outcome_1alive_0dead'].value_counts()  # Target

hospital_outcome_1alive_0dead
1    102099
0      8105
Name: count, dtype: int64